/* .header{
    background-color: rgb(0, 0, 0);
    margin:-10px;
    padding: 30px; 

}
.heading{
    margin-top: 10px;
    display: inline-block;
    color:white;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-left: 20px;
}
.navs{
    display: inline-block;
} */