<body class=bodybackground>
<div class="box">
  <form>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [formControl]="name" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [formControl]="psw" required>

      <button (click)="submit()" type="button">Login</button>
    </div>
  </form>
  <div class="signup-div">
    dont have an account ?
    <p class="signup" routerLink="/signup">
      signup
    </p>
  </div>
</div>
<img src="../../assets/login.svg" class="image">
</body>