body {font-family: Arial, Helvetica, sans-serif;}

.image{
  display:inline-block;
  width: 50%;
  vertical-align: middle;

}

label{
  font-size: large;
  color: rgb(71, 71, 209);
}

.box{
  width:40%;
  display:inline-block;
  margin-left: 4%;
  margin-right: 4%;
  /* margin-top: 20%; */
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(84, 84, 204);
  vertical-align: middle;
  padding: 10px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:focus{
  border-color: rgb(84, 84, 204);
  outline-color: rgb(84, 84, 204);
}

/* Set a style for all buttons */
button {
  background-color: rgb(84, 84, 204);
  color: white;
  font-weight: bold;
  font-size: large;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.signup-div{
  text-align: center;
}
.signup{
    color: rgb(84, 84, 204);
    display: inline-block;
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
}