<body class="backgroundcolour">
  

  <div class="container">
     <header>
      <div class="playlist">
        <i class="fa fa-bars"></i>
      </div>
      <div class="setting">      
        <i class="fa fa-cog"></i>
      </div>
    </header> 
    <main>
      <div class="album-art">
        <img src="../../assets/am.jpg" alt="" />
      </div>
      <div class="player">
        <i class="fa fa-repeat"> 
          <p>repeat</p> 
          <!-- <button>repeat</button> -->
        </i>
        <i class="fa fa-fast-backward">
          <!-- <p>previous</p> -->
        </i>
        <i class="fa fa-play">
          <!-- <p>play</p> -->
          <button class="mediabutton" (click)="play()">List</button>
        </i>
        <i class="fa fa-fast-forward">
          <!-- <p>next</p> -->
        </i>
        <i class="fa fa-random">
          <p>shuffle</p>
        </i>
      </div>
    </main>
    <footer>
       <!-- <div class="title"> -->
         <div class="title" *ngFor="let oneData of finaldata">
           <span>{{oneData.songname}}</span>
           <!-- <span class="tagspan">{{oneData.tag}}</span> -->
          </div>
      <!-- </div> --> 
      <div class="time-tracker">
        <div class="timer">
          <div class="bg">

          </div>
        </div>
        <div class="time">04:20</div>
      </div>
    </footer>
  </div>
  <div class="songbox">
    <div style="text-align: center;">Playlist</div>
    <hr>
    <div class="songlist" *ngFor="let file of files" (click)="openfile(file.url)">{{file.name}}

    </div> 
  </div>
</body>