<body class="backgroundcolour">
  

  <div class="container">
     <header>
      <div class="playlist">
        <i class="fa fa-bars"></i>
      </div>
      <div class="setting">      
        <i class="fa fa-cog"></i>
      </div>
    </header> 
    <main>
      <div class="album-art">
        <img src="../../assets/am.jpg" alt="" />
      </div>
      <div class="player">
        <i class="fa fa-pause"> 
          <button class="mediabutton" (click)="pause()">pause</button>
        </i>
        <i class="fa fa-previous">
           <button class="mediabutton" (click)="previous()">❮||</button>
        </i>
        <i class="fa fa-play">
          <!-- <p>play</p> -->
          <button class="mediabutton" (click)="play()">Play</button>
        </i>
        <i class="fa fa-next">
          <button class="mediabutton" (click)="next()">||❯</button>
        </i>
        <i class="fa fa-stop">
          <button class="mediabutton" (click)="stop()">stop</button>
        </i>
      </div>
    </main>
    <footer>
       <!-- <div class="title"> -->
         <!-- <div class="title" *ngFor="let oneData of finaldata">
           <span>{{oneData.songname}}</span>
            <span class="tagspan">{{oneData.tag}}</span> 
          </div> -->
      <!-- </div> -->
      <!-- <div class="time-tracker"> -->
        <!-- <div class="timer">
        <span class="bg">Current time</span>
        <input type="range" min="0" max="" value="0.00">
        <span>Duration</span>
      </div> -->
    <!-- </div> -->
      <div class="time-tracker">
        <div class="timer">
          <div class="bg">
          </div>
        </div>
        <div class="time">04:20</div>
      </div>
    </footer>
  </div>
  <div class="songbox">
    <div style="text-align: center;">Playlist</div>
    <hr>
     <!-- <div class="songlist" *ngFor="let file of files" (click)="openfile(file.url)">{{file.name}}  -->
      <div class="songlist" *ngFor="let oneData of finaldata" (click)="openfile(oneData.url)">
        <span>{{oneData.songname}}</span>
       </div>
    </div> 
</body>