
<div class="box">
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <div class="text-allign">
        <h1>Sign Up</h1>
        <p>Please fill in this form to create an account.</p>
      </div>
      <hr>
      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [formControl]="name" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [formControl]="psw" required>

      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input type="password" placeholder="Repeat Password" [formControl]="repsw" required>
      
      <div class="text-allign">
        <button (click)="submit()" type="button">Sign Up</button>
        already have an account?
        <p class='login'routerLink="/login">
          login
        </p>
      </div>
      <!-- <div class="clearfix"> -->
        <!-- <button type="button" class="cancelbtn" routerLink = ''>Cancel</button> -->
        <!-- <button type="button" class="signupbtn" (click)="submit()">Sign Up</button> -->
      <!-- </div> -->
    </div>
  </form>
</div>
<img src="../../assets/login.svg" class="image">
