<mat-toolbar class="navbar">
  <div>MUSTICAL</div>
</mat-toolbar>
 
<div class="box">
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <div class="text-allign">
        <h1 style="font-weight: 500;">Sign Up</h1> 
        <p style="font-style: oblique;">Create account to start listening to songs</p>
      </div>

      <label for="email"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [formControl]="name" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [formControl]="psw" required>

      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" [formControl]="repsw" required>
      
      <div class="text-allign">
        <button (click)="submit()" type="button">Sign Up</button>
        already have an account?
        <p class='login'routerLink="/login">
          login
        </p>
      </div>
    </div>
  </form>
</div>
<img src="../../assets/login.svg" class="image"> 
