<mat-toolbar class="navbar">
  <div>MUSTICAL</div>
  <div class=navbaroptions>
    
    <!-- profile button  -->
    <mat-menu #profilemenu="matMenu">
        <button mat-menu-item>Profile</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="profilemenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    
    <!-- setting options -->
    <mat-menu #settingmenu="matMenu">
        <button mat-menu-item>Change theme</button>
        <button mat-menu-item>Report an issue!</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="settingmenu">
        <mat-icon>settings</mat-icon>
    </button>
     
    <!-- logout button  -->
    <mat-menu #logoutmenu="matMenu">
        <button mat-menu-item routerLink="/signup">Logout</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="logoutmenu" color = "accent">
        <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>


<!-- <div>
    <mat-nav-list>

    <mat-list-item>
        <mat-icon matListIcon>radio</mat-icon>
        <h3 matLine>Listen to Music</h3>
        <p matLine>play songs which suit your current mood</p>
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>upload_file</mat-icon>
        <h3 matLine>Upload Song</h3>
        <p matLine>help others discover your talent</p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <mat-icon matListIcon>history</mat-icon>
        <h3 matLine>Revisit Songs</h3>
        <p matLine>Liked what you heard? Visit those songs again</p>
    </mat-list-item>
</mat-nav-list>
</div> -->

<mat-grid-list cols = "2" rowHeight = "2:1" gutterSize="10px">
    <mat-grid-tile colspan = "2">
        <mat-list-item>
            <mat-icon matListIcon>radio</mat-icon>
            <h3 matLine>Listen to Music</h3>
            <p matLine>play songs which suit your current mood</p>
        </mat-list-item>
    
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-list-item>
            <mat-icon matListIcon>upload_file</mat-icon>
            <h3 matLine>Upload Song</h3>
            <p matLine>help others discover your talent</p> 
        </mat-list-item>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-list-item>
            <mat-icon matListIcon>history</mat-icon>
            <h3 matLine>Revisit Songs</h3>
            <p matLine>Liked what you heard? Visit those songs again</p>
        </mat-list-item>
    </mat-grid-tile>

</mat-grid-list>
