.navbaroptions{
  margin:1rem;
}
.navbar{
  justify-content: space-between;
}
.options{
  margin: 3rem;
}

/* .useroptions{
  layout="column";       
  layout-align="center center"

} */
mat-grid-tile{
  background-color:lightgrey;
}

.bodybackground{
  background: linear-gradient(180deg, slategrey,black);
}
