<div class="title">
    <h1>Welcome, How are you feeling today?</h1>
</div>

<div class="rowindentation">
 <div class="row">  
     <!-- <div class="column"> -->
     <div class="container">
        <img src="../../assets/happy.png" class="image">
        <div class="middle">
            <div class="text">
                happy
            </div>
        </div>
     </div>
     <div class="container">
        <img src="../../assets/sad.png" class="image">
        <div class="middle">
            <div class="text">
                sad
            </div>
        </div>
     </div>
     <div class="container">
        <img src="../../assets/angry.png" class="image">
        <div class="middle">
            <div class="text">
                angry
            </div>
        </div>
     </div>
     <div class="container">
        <img src="../../assets/flirty.png" class="image">
        <div class="middle">
            <div class="text">
                flirty
            </div>
        </div>
     </div>
    <!-- </div>     -->
 </div>
    
     
     <br>
     
 <div class="row">
     <div class="container">
        <img src="../../assets/inlove.png" class="image">
        <div class="middle">
            <div class="text">
                In love
            </div>
        </div>
     </div>
     <div class="container">
        <img src="../../assets/cranky.png" class="image">
        <div class="middle">
            <div class="text">
                cranky
            </div>
        </div>
     </div>
     <div class="container">
        <img src="../../assets/sleepy.png" class="image">
        <div class="middle">
            <div class="text">
                sleepy
            </div>
        </div>
     </div>
</div>
</div>

<div class="homepageimage">
    <img src="../../assets/homepage.svg" class="homeimage">
</div>